RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#department
RewriteRule ^departments$ controllers/settings/department/department.php [L]
RewriteRule ^departments/([0-9]+)$ controllers/settings/department/department.php?departmentid=$1 [L]
RewriteRule ^departments/active/([0-9]+)$ controllers/settings/department/active.php?departmentid=$1 [L]
RewriteRule ^departments/limit/([0-9]+)/([0-9]+)$ controllers/settings/department/limit.php?start=$1&total=$2 [L]
RewriteRule ^departments/search/([A-Za-z0-9-]+)$ controllers/settings/department/search.php?search=$1 [L]


#role
RewriteRule ^roles$ controllers/settings/user/role/role.php [L]
RewriteRule ^roles/([0-9]+)$ controllers/settings/user/role/role.php?roleid=$1 [L]
RewriteRule ^roles/active/([0-9]+)$ controllers/settings/user/role/active.php?roleid=$1 [L]

#paytype
RewriteRule ^paytype$ controllers/pay-type/paytype.php [L]
RewriteRule ^paytype/([0-9]+)$ controllers/pay-type/paytype.php?paytypeid=$1 [L]
RewriteRule ^paytype/active/([0-9]+)$ controllers/pay-type/active.php?paytypeid=$1 [L]

#payitem
RewriteRule ^payitem$ controllers/pay-type/pay-item/payitem.php [L]
RewriteRule ^payitem/([0-9]+)$ controllers/pay-type/pay-item/payitem.php?payitemid=$1 [L]
RewriteRule ^payitem/active/([0-9]+)$ controllers/pay-type/pay-item/active.php?payitemid=$1 [L]