RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#department
RewriteRule ^departments$ controllers/settings/department/department.php [L]
RewriteRule ^departments/([0-9]+)$ controllers/settings/department/department.php?departmentid=$1 [L]
RewriteRule ^departments/active/([0-9]+)$ controllers/settings/department/active.php?departmentid=$1 [L]
RewriteRule ^departments/limit/([0-9]+)/([0-9]+)$ controllers/settings/department/limit.php?start=$1&total=$2 [L]
RewriteRule ^departments/search/([A-Za-z0-9-]+)$ controllers/settings/department/search.php?search=$1 [L]
 
#role
RewriteRule ^roles$ controllers/settings/user/role/role.php [L]
RewriteRule ^roles/([0-9]+)$ controllers/settings/user/role/role.php?roleid=$1 [L]
RewriteRule ^roles/active/([0-9]+)$ controllers/settings/user/role/active.php?roleid=$1 [L]

#paytype
RewriteRule ^paytype$ controllers/pay-type/paytype.php [L]
RewriteRule ^paytype/([0-9]+)$ controllers/pay-type/paytype.php?paytypeid=$1 [L]
RewriteRule ^paytype/active/([0-9]+)$ controllers/pay-type/active.php?paytypeid=$1 [L]
   
#payroll
RewriteRule ^payroll$ controllers/payroll/payroll.php [L]
RewriteRule ^payroll/list$ controllers/payroll/draft.php [L]
RewriteRule ^payroll/([0-9]+)$ controllers/payroll/payroll.php?payrollid=$1 [L]
RewriteRule ^payroll/active/([0-9]+)$ controllers/payroll/active.php?payrollid=$1 [L]
RewriteRule ^payroll/page/([0-9]+)$ controllers/payroll/page.php?start=$1 [L]
RewriteRule ^payroll/search/([A-Za-z0-9-]+)$ controllers/payroll/search.php?search=$1 [L]

#payslip
RewriteRule ^payslip/([0-9]+)$ controllers/payroll/payslip/payslipById.php?payrollListId=$1 [L]
RewriteRule ^payslip/earnings/([0-9]+)/([0-9]+)/([A-Za-z0-9-]+)$ controllers/payroll/payslip/payslipByPaytype.php?paytypeId=$1&empId=$2&payrollId=$3 [L]
   
#payroll list paid
RewriteRule ^payrollList$ controllers/payroll/list/payrollView.php [L]
RewriteRule ^payrollList/([A-Za-z0-9-]+)$ controllers/payroll/list/payrollView.php?listpayrollid=$1 [L]  
RewriteRule ^payrollList/paid/([A-Za-z0-9-]+)$ controllers/payroll/list/paid.php?listpayrollid=$1 [L]  
RewriteRule ^payrollList/page/([A-Za-z0-9-]+)/([0-9]+)$ controllers/payroll/list/page.php?listpayrollid=$1&start=$2 [L]
RewriteRule ^payrollList/search/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$ controllers/payroll/list/search.php?listpayrollid=$1&search=$2 [L]
    

#earnings
RewriteRule ^earnings$ controllers/earnings/earnings.php [L]
RewriteRule ^earnings/([0-9]+)$ controllers/earnings/earnings.php?earningsid=$1 [L] 
RewriteRule ^earnings/page/([0-9]+)$ controllers/earnings/page.php?start=$1 [L]
RewriteRule ^earnings/search/([A-Za-z0-9-]+)$ controllers/earnings/search.php?search=$1 [L]
RewriteRule ^earnings/validateId/([A-Za-z0-9-]+)$ controllers/earnings/validateId.php?prid=$1 [L]

#deductions
RewriteRule ^deductions$ controllers/deductions/deductions.php [L]
RewriteRule ^deductions/([0-9]+)$ controllers/deductions/deductions.php?deductionid=$1 [L]  
RewriteRule ^deductions/search/([A-Za-z0-9-]+)$ controllers/deductions/search.php?search=$1 [L]
RewriteRule ^deductions/validateId/([A-Za-z0-9-]+)$ controllers/deductions/validateId.php?prid=$1 [L]
RewriteRule ^deductions/page/([0-9]+)$ controllers/deductions/page.php?start=$1 [L]
  
#payitem
RewriteRule ^payitem$ controllers/pay-type/pay-item/payitem.php [L]
RewriteRule ^payitem/([0-9]+)$ controllers/pay-type/pay-item/payitem.php?payitemid=$1 [L]
RewriteRule ^payitem/active/([0-9]+)$ controllers/pay-type/pay-item/active.php?payitemid=$1 [L]
 
#HOLIDAYS
RewriteRule ^holidays$ controllers/holidays/holidays.php [L]
RewriteRule ^holidays/([0-9]+)$ controllers/holidays/holidays.php?holidaysid=$1 [L]

#SETTINGS RATES
RewriteRule ^rates$ controllers/settings/rates/rates.php [L]
RewriteRule ^rates/([0-9]+)$ controllers/settings/rates/rates.php?ratesid=$1 [L]

#SETTINGS PAYROLL TYPE
RewriteRule ^payroll-type$ controllers/settings/payroll-type/payroll-type.php [L]
RewriteRule ^payroll-type/([0-9]+)$ controllers/settings/payroll-type/payroll-type.php?payrolltypeid=$1 [L]
RewriteRule ^payroll-type/active/([0-9]+)$ controllers/settings/payroll-type/active.php?payrolltypeid=$1 [L]

#SETTINGS SEMI BRACKET
RewriteRule ^tax/semi-monthly$ controllers/settings/tax-bracket/semi-monthly/semi-monthly.php [L]
RewriteRule ^tax/semi-monthly/([0-9]+)$ controllers/settings/tax-bracket/semi-monthly/semi-monthly.php?semimonthlyid=$1  [L]

#SETTINGS TAX BRACKET
RewriteRule ^tax/monthly$ controllers/settings/tax-bracket/tax-monthly/tax-monthly.php [L]
RewriteRule ^tax/monthly/([0-9]+)$ controllers/settings/tax-bracket/tax-monthly/tax-monthly.php?taxmonthlyid=$1  [L]



#SETTINGS SSS BRACKET
RewriteRule ^sss-bracket$ controllers/settings/sss-bracket/sss-bracket.php [L]
RewriteRule ^sss-bracket/([0-9]+)$ controllers/settings/sss-bracket/sss-bracket.php?sssbracketid=$1 [L]
RewriteRule ^sss-bracket/page/([0-9]+)$ controllers/settings/sss-bracket/page.php?start=$1 [L]
RewriteRule ^sss-bracket/search/([A-Za-z0-9-]+)$ controllers/settings/sss-bracket/search.php?search=$1 [L]
 
#SETTINGS USER SYSTEM
RewriteRule ^user-systems$ controllers/settings/user/system/system.php [L]
RewriteRule ^user-systems/([0-9]+)$ controllers/settings/user/system/system.php?usersystemid=$1 [L]
RewriteRule ^user-systems/active/([0-9]+)$ controllers/settings/user/system/active.php?usersystemid=$1 [L] 
RewriteRule ^user-systems/reset$ controllers/settings/user/system/reset.php [L] 
RewriteRule ^user-systems/key/([A-Za-z0-9-]+)$ controllers/settings/user/system/key.php?usersystemkey=$1 [L]
RewriteRule ^user-systems/password$ controllers/settings/user/system/set-password.php [L]
RewriteRule ^user-systems/login$ controllers/settings/user/system/login.php [L]
RewriteRule ^user-systems/token$ controllers/settings/user/system/token.php [L]

#SETTINGS USER OTHER
RewriteRule ^user-others$ controllers/settings/user/other/other.php [L]
RewriteRule ^user-others/([0-9]+)$ controllers/settings/user/other/other.php?userotherid=$1 [L]
RewriteRule ^user-others/active/([0-9]+)$ controllers/settings/user/other/active.php?userotherid=$1 [L] 
RewriteRule ^user-others/reset$ controllers/settings/user/other/reset.php [L] 
RewriteRule ^user-others/key/([A-Za-z0-9-]+)$ controllers/settings/user/other/key.php?userotherkey=$1 [L]
RewriteRule ^user-others/password$ controllers/settings/user/other/set-password.php [L]
RewriteRule ^user-others/login$ controllers/settings/user/other/login.php [L]
RewriteRule ^user-others/token$ controllers/settings/user/other/token.php [L]
 
#SETTINGS PAG-IBIG
RewriteRule ^pagibig$ controllers/settings/pagibig/pagibig.php [L]
RewriteRule ^pagibig/([0-9]+)$ controllers/settings/pagibig/pagibig.php?pagibigId=$1 [L]
 
#SETTINGS PHILHEALTH
RewriteRule ^philhealth$ controllers/settings/philhealth/philhealth.php [L]
RewriteRule ^philhealth/([0-9]+)$ controllers/settings/philhealth/philhealth.php?philhealthId=$1 [L]


